<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <h1>Sign up</h1>
	<div class="form-group">
    <form id="loginForm">
        <label for="username">Username:</label>
        <input class="form-control form-control-sm" type="text" id="username" name="username" required placeholder="Enter username">
		<br>
        <label for="email">E-mail:</label>
        <input class="form-control form-control-sm" type="email" id="email" name="email" required placeholder="Enter e-mail">
        <br>
        <label for="password">Password:</label>
        <input class="form-control form-control-sm" type="password" id="password" name="password" required placeholder="Password">
        <br>
        <button type="button" class="btn btn-dark btn-sm" onclick="registeruser()">Sign-up</button>
    </form>
	</div>


</body>
</html>
