.chat-title {
    writing-mode: vertical-lr; /* Rotate the text vertically from left to right */
    transform: rotate(180deg); /* Additional rotation to make it display bottom to top */
    float: right; /* Center the text horizontally */
    white-space: nowrap; /* Prevent line breaks */
    color : #FFFFFC;
    /* font-style: italic; Make the text italic */
    /* font-size: 3rem; Adjust the font size as needed */
}

#chat-message-input:focus {
    outline: none!important;
    box-shadow: none!important;
    border-color: transparent!important;
}

a{
    text-decoration: none;
    color: #FCFF76;
}

.chatvatar {
    display: block!important;
    max-width:50px !important;
    max-height:50px !important;
    margin-right : 6px;
    width: auto;
    height: auto;
	  border-radius: 50%;
}

.chatHead {
    color :#a676ff;
}
.chatLog {
    /* overflow-y: auto; */
    height:200px;
    /* width : 90%; */
    /* margin-left : 10px; */
    /* margin-right : 10px */
    /* border:1px solid #FFFFFC; */
    padding:15px;
    margin-bottom:10px;
    background-color: rgba(255, 255, 252, 0.4);
    overflow-wrap: break-word;
}

.friend-row {
    /* background-color: rgba(255, 255, 252, 0.4); */
    border-radius:5%;
    margin-bottom: 10px;
}

.time {
    font-size: 0.7vw;
}

.custom-text-color {
    color: #ff0000; /* Specify your desired text color */
}
