* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    padding: 0;
    height: 85vh;
    width: 80vw;
    border: 2px solid #7000ff;
    box-sizing: border-box;
}

.ball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.ball_effect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    animation: spinBall 0.1s linear infinite;
    box-shadow: inset 0 0 18px #fffffc,
        inset 6px 0 18px #7000ff,
        inset -6px 0 18px #ff003d,
        inset 6px 0 30px #7000ff,
        inset -6px 0 30px #ff003d,
        0 0 18px #fffffc, -4px 0 18px
        #7000ff, 4px 0 18px #fffffc;
}

@keyframes spinBall {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.paddle {
    height: 100px;
    width: 18px;
    position: fixed;
}

.paddle_1 {
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 18px #fffffc,
        inset -6px 0 18px #fffffc,
        inset 6px 0 18px #fffffc,
        inset -6px 0 30px #fffffc,
        inset 6px 0 30px #fffffc,
        0 0 18px #fffffc, 4px 0 18px
        #fffffc, -4px 0 18px #fffffc;
}

.paddle_2 {
    top: calc(85vh + 7.5vh - 100px - 55px);
    right: calc(11vw + 30px);
    box-shadow: inset 0 0 18px #fffffc,
        inset 6px 0 18px #fffffc,
        inset -6px 0 18px #fffffc,
        inset 6px 0 30px #fffffc,
        inset -6px 0 30px #fffffc,
        0 0 18px #fffffc, -4px 0 18px
        #fffffc, 4px 0 18px #fffffc;
}

.player_1_score,
.player_2_score {
    color: #fcff76;
    font-weight: bold;
}

.message {
    color: #fffffc;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
}
