* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}
  
.container {
  flex: 1;
  max-width: 80%;
  max-height: 15%;
}

.board {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 85vh; 
  width: 80vw;
  max-width: 80%;
  max-height: 85%;
  justify-content: center;
  align-items: center;
  border: 2px solid #7000ff;
  box-sizing: border-box;
  position: relative;
}

.paddle {
  /* position: fixed; */
  position: absolute;
  width: 20px;
  height: 100px;
  box-shadow: inset 0 0 18px #fffffc,
  inset -6px 0 18px #fffffc,
  inset 6px 0 18px #fffffc,
  inset -6px 0 30px #fffffc,
  inset 6px 0 30px #fffffc,
  0 0 18px #fffffc, 4px 0 18px
  #fffffc, -4px 0 18px #fffffc;
}

.paddle_1 {
  left: 10px;
}

.paddle_2 {
  right: 10px;
}

.ball {
  position: fixed;
  /* position: absolute; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  /* top: 50%;
  left: 50%; */
}

.ball_effect {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  animation: spinBall 0.1s linear infinite;
  box-shadow: inset 0 0 18px #fffffc,
      inset 6px 0 18px #7000ff,
      inset -6px 0 18px #ff003d,
      inset 6px 0 30px #7000ff,
      inset -6px 0 30px #ff003d,
      0 0 18px #fffffc, -4px 0 18px
      #7000ff, 4px 0 18px #fffffc;
}

@keyframes spinBall {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
  
.dotted-line {
  /* position: absolute; */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #fffffc;
  border: dashed 2px #fffffc;
}
  
.player_1_score,
.player_2_score {
  color: #fcff76;
  font-weight: bold;
}

.message {
  color: #fffffc;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
}

.win-message {
  /* position: absolute; */
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  background-color: #ff003d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.win-message h1 {
  margin: 0;
  color: #fffffc;
  font-weight: 500;
}