* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: black !important;

}

#header{
  margin-top: 2rem;
}

#nav-bar{
  width: 80%;
  margin-left: 10%;
  padding: 0.8rem;
  display: flex;
  justify-content: space-around;
}

#nav-bar a{
  text-decoration: none;
}

.btn-nav-bar{
  color: white;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  position: absolute;
  background-color: #7000ff;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -30%);
  width: 51vw;
  height: 52.2vh;
}


.avatar {
    display: block;
    max-width:100px !important;
    max-height:100px !important;
    width: auto;
    height: auto;
	  border-radius: 50%;
}

.card-body {
    opacity : .4;
    height: 50px !important; /* Adjust the height as needed */
    overflow-y: auto;
}