.avatar, #pic {
    display: block;
    max-width:100px !important;
    max-height:100px !important;
    width: auto;
    height: auto;
	border-radius: 50%;
}

.card-body {
    opacity : .4;
    height: 120% !important;
    overflow-y: auto;
}